@import "cartes";

$primaryColor: #008000;
$gameBoardColor: lighten($primaryColor, 20%);


@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  background-color: $primaryColor;
  width: 100%;
  height: 100%;
  @include flex(column, center, center);
  
  #GameBoard {
    border: 5px solid white;
    border-radius: 2%;
    width: 800px;
    height: 600px;
    background-color: $gameBoardColor;
    @include flex(column, start, start);
    position: relative;
  }
}

